body {
    background-size: cover;
    background-color: #f5f6fa;
}


/* Navbar */
.brand {
    margin-left: 60px;
    margin-top: 30px;
}


/* login */
.card-title {
    margin-left: 277px;
    font-size: 30px;
}

.card{
    margin-left: 330px;
    box-shadow: 2px 2px 12px rgb(201, 201, 201);
}

button{
    margin-top: 20px;
    margin-left: 230px;
    width: 100%;
}

.btn-outline-dark {
    background: white;
    border-radius: 22px;
    width: 200px;
}

form{
    margin-top: 30px;
    width: 650px;
}